<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/all.css">

    <title>books</title>
</head>

<body>
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="/images/fluentenglogo.jpg" alt="Fluenteng"><span
                        class="border border-primary"></span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav navbar-center">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Aboutus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Quiz </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Game </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Typing </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Contactus </a>
                        </li>
                    </div>

                    <ul class="navbar-nav navbar-right">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle mr-sm-1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
                                class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small">
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                        <li><a href="#"><button type="button" class="btn btn-outline-light">Sign up</button></a></li>
                    </ul>

                   <!-- <form class="form-inline my-2 my-lg-0">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle mr-sm-1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
                                class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small">
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Sign up</button>
                    </form>-->

                    <!-- <div class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle mr-sm-1" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" >
                      <li><a class="dropdown-item" href="#">Profile</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                    <a href="#"><button type="button" class="btn btn-outline-light">Sign up</button></a>
                    
                  </div>

                <div class="navbar-nav navbar-right ">
                    <li><a href="#"><button type="button" class="btn btn-outline-light">Sign up</button></a>
                    </li>
                -->
                    <!--<li><a href=""><span class="glyphicon glyphicon-profile"></span></a></li>-->

                </div>
            </div>
        </nav>
    </section>

    <div class="container">
        <div class="container text-center">
            <h1 class="title">AMAZING BOOKS</h1>
            <div class="row mb-5 ">
                <div class="col-sm-4 py-3 py-sm-0 ">
                    <div class="card h-100"style="width: 18rem;" >
                        <img src="/images/book1.png" class="card-img-top" alt="book1" style="height:400px">
                        <div class="card-body">
                            <h5 class="card-title mt-2">Practise English on your own</h5>
                            <p class="card-text text-center text-muted lead mb-3">Minitoba</p>
                            <a href="https://drive.google.com/file/d/1ZbyQ0Hr4U8K0uyrHoLIzEWBNeK7xosB8/view" class="btn mt-auto  btn-primary">Read me</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 py-3 py-sm-0 ">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="/images/book2.jpg" class="card-img-top" alt="book2"style="height:400px">
                        <div class="card-body">
                            <h5 class="card-title mt-2">Basic English Grammar with Exercises</h5>
                            <p class="card-text text-center text-muted lead mb-3">Mark Newson</p>
                            <a href="https://drive.google.com/file/d/1JeHjyNnNEnVoFz28pDoGkW8CWnwg6HUK/view" class="btn mt-auto btn-primary">Read me</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 py-3 py-sm-0 ">
                    <div class="card h-100"style="width: 18rem;">
                        <img src="/images/book3.jpg" class="card-img-top" alt="book3"style="height:400px">
                        <div class="card-body">
                            <h5 class="card-title mt-2">Learn English Now</h5>
                            <p class="card-text text-center text-muted lead mb-3">The Church of Jesus Christ of Latter-day Saints</p>
                            <a href="https://drive.google.com/file/d/1OTYF0OOeFnRi_Ww9iRE6_yVZ2k60lEwc/view" class="btn mt-auto btn-primary">Read me</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-sm-4 py-3 py-sm-0">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="/images/book4.jpg" class="card-img-top" alt="book4"style="height:400px">
                        <div class="card-body">
                            <h5 class="card-title">English for Intermediate Students</h5>
                            <p class="card-text text-center text-muted lead mb-3">Harijs Marsavs</p>
                            <a href="https://drive.google.com/file/d/138rKO7n3ITLlT2tZjuI9UMWzb0KOxNjY/view" class="btn btn-primary">Read me</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 py-3 py-sm-0">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="/images/book5.jpg" class="card-img-top" alt="book5"style="height:400px">
                        <div class="card-body">
                            <h5 class="card-title">Everyday Conversations: Learning American English</h5>
                            <p class="card-text text-center text-muted lead mb-3">Various authors</p>
                            <a href="https://drive.google.com/file/d/13zZbAHx52ripRIyfRvg2TC1uJC4MYz-p/view" class="btn btn-primary">Read me</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 py-3 py-sm-0">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="/images/book6.webp" class="card-img-top" alt="book6"style="height:400px">
                        <div class="card-body">
                            <h5 class="card-title">Grammar rules</h5>
                            <p class="card-text text-center text-muted lead mb-3">Speak Good English Movement</p>
                            <a href="https://drive.google.com/file/d/1B_L51vFPsw4V3xnVAfpK_UPX1Jr2twpM/view" class="btn btn-primary">Read me</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-sm-4 py-3 py-sm-0 ">
                    <div class="card box-shadow h-100"style="width: 18rem;">
                        <img src="/images/book7.jpg" class="card-img-top "  alt="book7"style="height:400px">
                        <div class="card-body">
                            <h5 class="card-title">English Grammar</h5>
                            <p class="card-text text-center text-muted lead mb-3">Espresso English</p>
                            <a href="https://drive.google.com/file/d/1EIU-OUMoqLMl4i37WdGiV4Nd-xy_hyMl/view" class="btn btn-primary">Read me</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 py-3 py-sm-0 ">
                    <div class="card box-shadow h-100"style="width: 18rem;" >
                        <img src="/images/book8.jpg" class="card-img-top "  alt="book9"style="height:400px">
                        <div class="card-body">
                            <h5 class="card-title">Learning English through Short Stories</h5>
                            <p class="card-text text-center text-muted lead mb-3">British Council</p>
                            <a href="https://drive.google.com/file/d/17yV_z1wUMhNjvtHypEepqvpbPjHqTuuh/view" class="btn btn-primary">Read me</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 py-3 py-sm-0">
                    <div class="card box-shadow h-100" style="width: 18rem;">
                        <img src="/images/book9.jpg" class="card-img-top " alt="book11"style="height:400px">
                        <div class="card-body">
                            <h5 class="card-title">A Reference Guide to American English Idioms</h5>
                            <p class="card-text text-center text-muted lead mb-3">American English - US Department of State</p>
                            <a href="https://drive.google.com/file/d/1OKzhHf7bhz1rFQPh_BE5hb6x-vz9fRjK/view" class="btn btn-primary">Read me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>