<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/all.css">

    <title>Quiz</title>
</head>

<body>
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="/images/fluentenglogo.jpg" alt="Fluenteng"><span
                        class="border border-primary"></span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav navbar-center">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Aboutus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Quiz </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Game </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Typing </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Contactus </a>
                        </li>
                    </div>

                    <ul class="navbar-nav navbar-right">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle mr-sm-1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
                                class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small">
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                        <li><a href="#"><button type="button" class="btn btn-outline-light">Sign up</button></a></li>
                    </ul>

                   <!-- <form class="form-inline my-2 my-lg-0">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle mr-sm-1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
                                class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small">
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Sign up</button>
                    </form>-->

                    <!-- <div class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle mr-sm-1" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" >
                      <li><a class="dropdown-item" href="#">Profile</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                    <a href="#"><button type="button" class="btn btn-outline-light">Sign up</button></a>
                    
                  </div>

                <div class="navbar-nav navbar-right ">
                    <li><a href="#"><button type="button" class="btn btn-outline-light">Sign up</button></a>
                    </li>
                -->
                    <!--<li><a href=""><span class="glyphicon glyphicon-profile"></span></a></li>-->

                </div>
            </div>
        </nav>
    </section>

    <div class="container">
        <div class="container text-center">
            <h1 class="title">ENGLISH QUIZZES</h1>
            <div class="row mb-5">
                <div class="col-sm-4">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="/images/quiz1.jpg" class="card-img-top" alt="quiz1">
                        <div class="card-body">
                            <h5 class="card-title">QUIZ 1</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSf1A1LNIhtUIbKMicxZzOqSC-TOayDq5bps-LK06s0OCGpqWg/viewform" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="/images/quiz2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">QUIZ 2</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfhoHmUYMEDUkOi1-reR3Wq0BwVrGacZLWJht-fSxn0B1HRCA/viewform" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="/images/quiz3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">QUIZ 3</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScjNteGLbul5JfqulLp2edTEeRQ5Lth-DYzso8BCcDycbNY3A/viewform" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-sm-4">
                    <div class="card h-100 " style="width: 18rem;">
                        <img src="/images/quiz4.png" class="card-img-top mt-auto h-100 " alt="..." style="height:400px">
                        <div class="card-body">
                            <h5 class="card-title">QUIZ 4</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfKAzngY0uJLZF97i14rpmx5KrenocAFIUVkIJRbOowNkQbHg/viewform" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="/images/quiz5.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">QUIZ 5</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfvjBgTIn5zwtH7oCpAVKMLSXV9ycDQtRGU7b3oTGXlLM2k6g/viewform" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="/images/quiz6.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">QUIZ 6</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdF9VGPYvx2y3JBkRHapHFN8A9L_x2Y8r2evvYRarEGtX-GLw/viewform" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>