*
{
    margin: 0;
    padding: 0;

}
.body
{
font-family: sans-serif;

}
#nav-bar{
    position:sticky;
    top:0;
    z-index:10;
}
.navbar{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    padding: 0 !important;
}
/*.img-fluid{
    max-width: 20%;
    height:15%;
}*/
.navbar-brand img{
    height:60px;
    padding-left:20px;
}
.navbar-nav li{
    padding:0 10px;
    color:#fff;
}
.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float:right;
    text-align:left;
}
.fa-bars{
    color:#fff !important;
    font-size:30px !important;
}
.navbar-toggler{
    outline:none !important;
}

/*-----------------About us section----------------*/
#Aboutus h1
{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    padding-bottom: 50px;
    padding-top: 50px;

}
.bd-example
{
    background-image: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
 
}
.navbar-right{
    padding-left: 400px;
}