#nav-bar{
    position:sticky;
    top:0;
    z-index:10;
}
.navbar{
    background-image: linear-gradient(to right,#5f1782,#a517ba,yellow,orange);
    padding: 0 !important;
}
/*.img-fluid{
    max-width: 20%;
    height:15%;
}*/
.navbar-brand img{
    height:40px;
    padding-left:20px;
}
.navbar-nav li{
    padding:0 10px;
    color:black;
}
.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float:right;
    text-align:left;
}
.fa-bars{
    color:#fff !important;
    font-size:30px !important;
}
.navbar-toggler{
    outline:none !important;
}
.navbar-right{
    justify-content: space-between;
    padding-left: 400px;
}


#banner{
    background-image: linear-gradient(to right,rgb(238, 20, 238),#a517ba,#5f1782);
    color:#fff;
    padding-top: 10%;
}
.text_shadows{
    font-size:40px;
    font-weight:600;
    margin-top:100px;
    padding-top: 100px;
    
}
.play-btn{
    width:45px;
    margin:20px;
}
#banner a{
    color:#fff;
    text-decoration: none;
}
.bottom-img{
    width:100%;
    /*background-color: #fff;*/
}


#services{
    padding:80px 0;
    /*background-image: url("https://www.pngmart.com/files/12/White-Wave-PNG-Image.png");*/
}
.services-img{
    width:300px;
    height: 150px;
    margin-top:20px;
}
.services{
    padding:20px;
}
.services h4{
    padding:5px;
    margin-top:25px;
    text-transform: uppercase;
}
.title::before{
    content:'';
    background:linear-gradient(to right,orange,yellow,#a517ba);
    height:5px;
    width:200px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    transform:translateY(63px);
}
.title::after{
    content:'';
    background: linear-gradient(to right,orange,yellow,#a517ba);
    height:10px;
    width:50px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:40px;
    display:block;
    transform:translateY(8px);
}
#services .btn-primary{
box-shadow:none;
padding:8px 25px;
border:none;
border-radius:20px;
background-image: linear-gradient(to right,#a517ba,#5f1782);
}



#social-media{
    background:#f8f9fa;
    padding:100px 0;
}
#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons img{
    width:60px;
    transition:0.5s;
}
.social-icons a:hover img{
transform:translateY(-10px);
}


/*contact us*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
#contact{
    background:url("https://wallpapercave.com/wp/wp2838577.jpg")no-repeat;
    background-size: 100% 100%;
    width:100%;
    height:100vh;
}
.head{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    border-radius: 5px;
    margin-top:-40px;
    box-shadow: -1px 9px 27px -8px rgba(235,23,235,1);

}
.effect-1{
    border:0;
    outline:none;
    width:100%;
    padding:7px 0;
    border-bottom: 1px solid #ccc;
}
.effect-1 ~ .Focus-border{
    position:absolute;
    bottom:0;
    left:50%;
    width:0;
    height:2px;
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    transition:0.4s;
}
.effect-1:focus ~ .Focus-border{
    width:100%;
    transition:0.4s;
    left:0;
}
.btn1{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    color:#fff;
    outline:none;
    border:none;
    border-radius: 5px;
    height:40px;
    width:145px;
}
.btn1:hover{
    box-shadow: -1px 9px 27px -8px rgba(235,23,235,1);
}

/*signup*/
.wrapper{
    border: 03px solid grey;
    border-radius: 10px;
}
/*.wrapper a{
    text-decoration: none;
    color:rgb(125, 74, 183);
}*/

.dark{
    background-color: #222;
    color: #e6e6e6;
}

.navbar-right{
    padding-left: 300px;
    justify-content: baseline;
  }

  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 6px;
    font-size: 12px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display:flex;
  }
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  @media screen and (max-width: 480px) {
    .navbar-nav li{
        padding:0 0px;
        color:#fff;
    }
    .navbar-right{
        padding-left: 240px;
    }
  }

:root {
  --color-primary: #d4af37;
  --color-secondary: orange;
  --color-tertiary: #ffff;
  --color-quaternary: red;
  --color-quinary: black;
  
  
}

.text-shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: calc(1rem + 3vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  color: transparent;
  /*background-color: white;*/
  background-clip: text;
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.timeline{
    position: relative;
    max-width: 700px;
    margin-left: 25%;
    margin-bottom: 0;
}
.catogery{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    border-radius: 6px;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown{
0%{
    opacity: 1;
    transition: translatev(-30px);
}
100%{
    opacity: 1;
    transition: translatev(0px);
}
}
.catogery:nth-child(1){
    animation-delay: 0s;
}
.catogery:nth-child(2){
    animation-delay: 1s;
}
.catogery:nth-child(3){
    animation-delay: 2s;
}
.catogery:nth-child(4){
    animation-delay: 3s;
}
.catogery:nth-child(5){
    animation-delay: 4s;
}
.catogery:nth-child(6){
    animation-delay: 5s;
}
.text-box{
    padding: 20px 30px;
    background: linear-gradient(to right,orange,yellow);
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.left-side{
    left: 0;
}
.right-side{
    left: 50%;
}
.catogery img{
position: absolute;
width: 40px;
border-radius: 50%;
right: -20px;
top: 32px;
z-index: 10;
}
.right-side img{
    left: -20px;
}
body{
    background-color: #f0f2f5;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #a517ba;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}
@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
.text-box h2{
font-weight: 600;
}
.left-side-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid orange;
    right: -15px;
}
.right-side-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid orange;
    left: -15px;
}
.sample{
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 200px;
    align-content: center;
    
}

.chatbox {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background-color: linear-gradient(to right,orange,yellow);
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;

}

/* BUTTON */
.chatbox__button {
    text-align: right;
    position: fixed;
    padding-left: 325px;
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background-color:blue;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: blue;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
    background: linear-gradient(to right,orange,yellow);
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: red;
}

.chatbox__description--header {
    font-size: .9rem;
    color: grey;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: a517ba;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: a517ba;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.carousel-inner img{
    border-radius: 20%;
}
@media screen and (max-width: 480px) {
    
    .car{
        margin-top: 30px;
        height: 300px;
        width: 95%;
        padding-left: 0px;
    }
    .sample{
           padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 81px;
    }
    .timeline{
        margin-left: 0px;

    }
    .text-box{
       padding: 7px 9px;
       font-size: 10px;
       height: 280px;
       width: 100;
        
    }
    .text-box h2{
        font-size: 1rem;
    }
  }